* {
    margin: 0;
    padding: 0;
    font-family: "Times New Roman", Times, serif;
    color: black;
}

main {
    background-image: url("../images/photo26.jpg");
    height: 300vh;
    background-size: cover;
    background-position: center;
}

ul {
    list-style: none;
    float: right;
    margin-top: 25px;
    margin-right: 50px;
}

li {
    display: inline-block;
}

ul li a {
    text-decoration: none;
    color: black;
    font-size: 25px;
    text-align: center;
    padding: 50px 50 px;
    margin: 10px;
    border: 1px transparent white;
    transition: 1s ease-in;
}

ul li a:hover {
    color: black;
    background-color: white;
}

ul li.active a {
    color: black;
    background-color: white;
}

.activePage {
    background-color: green;
    margin: 4px 4px;
    padding: 4px 4px;
}

a {
    text-decoration: none;
    color: black;
}

main .mainHeading {
    position: absolute;
    top: 20%;
    left: 10%;
    font-size: 30px;
    color: black;
    padding: 5px 5px;
    margin: 5px 5px;
    text-transform: translate(-50%, -50%);
}

main .mainHeading :hover {
    color: green;
    transition: all 2s ease;
}

main .paragraphFormat {
    position: absolute;
    top: 35%;
    left: 15%;
    font-size: 30px;
    color: black;
    padding: 5px 5px;
    margin: 5px 5px;
    text-transform: translate(-50%, -50%);
}

main p {
    font-size: 25px;
    background-color: rgba(219, 215, 148, 0.3);
    padding: 5px 5px;
    margin: 10px 10px;
}

p:hover {
    color: red;
    transition: all 1s ease;
}

h2 {
    position: relative;
    color: black;
    left: -8%;
}

h2:hover {
    color: green;
    transition: all 3s ease;
}

section {
    background-image: url("../images/photo21.jpg");
    height: 150vh;
    background-size: cover;
    background-position: center;
}

footer {
    background-color: lightblue;
}

.social-icons {
    color: blue;
    font-size: 4rem;
}

@media screen and (max-width: 660px) {
    .mainHeading,
    .paragraphFormat {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 300%;
        align-items: center;
    }
}
